<!DOCTYPE html>
<html>
<head>
  	<meta name="description" content="Online directory of bank vendors and products" />
	<meta name="keywords" content="vendors, products, banks, financial services, bank vendors, financial services vendors, vendor ratings, vendor reviews, bank vendor ratings, bank vendor reviews" />
  <title>BankVendors - The Best Online Bank Vendors Directory</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32389488-1']);
  _gaq.push(['_setDomainName', 'bankvendors.net']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<%= yield %>

</body>
</html>
